/* Responsive CSS Code */

/* General Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f6f6f6;
  background-image: url('../resources/bg.jpg');
  background-size: cover;
}

form {
  border-radius: 10px;
  border: none;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  width: 100%; /* Full width form */
  max-width: 300px; /* Maximum width for form */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  /* Centering styles */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-picture {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Login Screen Styles */
.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px; /* Example padding */
}

.login-screen label {
  margin-top: 20px;
}

.login-screen input[type="text"],
.login-screen input[type="password"] {
  border: 1px solid #ccc;
  outline:none;
  display:inline-block;
  height:30px;
  vertical-align:middle;
  position:relative;
  bottom:14px;
  border-radius:22px;
  width: 100%;
  box-sizing:border-box;
  padding:0 18px; 
  margin-top: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input:focus, input:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.login-screen input[type="checkbox"] {
  margin-top: 10px;
}

.login-screen .forgot-password {
  color: black;
  text-decoration: underline;
  margin-top: -10px;
  cursor: pointer;
  display: block;
  text-align: right;
}
.bn31 {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #00a84f;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  margin-top: 20px;
  cursor: pointer;
  display: block;
  margin: 10px auto; /* Center the button */
}

.bn31:hover {
  color: #fff;
}

.bn31 .bn31span {
  align-items: center;
  background: #cdcdd1;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn31:hover .bn31span {
  background: transparent;
}
.checkbox-wrapper-29 {
  --size: 1rem;
  --background:rgba(255, 255, 255, 0);
  font-size: var(--size);
}

.checkbox-wrapper-29 *,
.checkbox-wrapper-29 *::after,
.checkbox-wrapper-29 *::before {
  box-sizing: border-box;
}

.checkbox-wrapper-29 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-29 .checkbox__label {
  width: var(--size);
}

.checkbox-wrapper-29 .checkbox__label:before {
  content: ' ';
  display: block;
  height: var(--size);
  width: var(--size);
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
  background: var(--background);  
}

.checkbox-wrapper-29 .checkbox__label:after {
  content: ' ';
  display: block;
  height: var(--size);
  width: var(--size);
  border: calc(var(--size) * .14) solid #000;
  transition: 200ms;
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
  background: var(--background);  
}

.checkbox-wrapper-29 .checkbox__label:after {
  transition: 100ms ease-in-out;
}

.checkbox-wrapper-29 .checkbox__input:checked ~ .checkbox__label:after {
  border-top-style: none; 
  border-right-style: none;
  -ms-transform: rotate(-45deg); /* IE9 */
  transform: rotate(-45deg);
  height: calc(var(--size) * .5);
  border-color: green;
}

.checkbox-wrapper-29 .checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
  /* Mobile Safari: */
  -webkit-tap-highlight-color: rgba(0,0,0,0);   
}

.checkbox-wrapper-29 .checkbox__label:after:hover,
.checkbox-wrapper-29 .checkbox__label:after:active {
   border-color: green; 
}

.checkbox-wrapper-29 .checkbox__label {
  margin-right: calc(var(--size) * 0.45);
}

.no-account {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.link {
  font-weight: 800;
  color: #2879f3;
  cursor: pointer;
}

.link:hover {
  color: #f37e10;
  text-decoration: underline;
}
