/* Responsive CSS Code */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Add margin to the table */
}
table th, table td {
  text-align: center;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Container Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px; /* Add margin to the container */
}

.container:focus {
  border-color: #aaa;
}

.input-field {
  margin-bottom: 10px;
  width: 100%; /* Full width input fields */
  max-width: 48%; /* Maximum width for input fields */
  display: flex;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #45a049;
}

h2 {
  /* Add margin to the heading  adn set to center*/
  margin-top: 20px;
  text-align: center;
}

#splash-screen {
  position: fixed; /* Fixed positioning */
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  z-index: 9999; /* High z-index so it appears above other elements */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

label {
  font-weight: bold;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .input-field {
    max-width: 100%; /* Adjust input field width for smaller screens */
  }
}